<!DOCTYPE html>
<html ng-app="mainApp">
  <head>
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
    <meta charset="utf-8">
    <meta content='http://www.unisphere.eu/' property='og:url'>
    <meta content='website' property='og:type'>
    <meta content='Unisphere - Collaborative workspace for educational institutions' property='og:title'>
    <meta content="Unisphere is a workspace improving collaboration and sharing between students and teachers." property='og:description'>

    <base href="/">
    <title>Unisphere</title>
    <%= favicon_link_tag 'favicon.ico' %>
    <%= csrf_meta_tags %>

    <script>
      window.ga=window.ga||function(){(ga.q=ga.q||[]).push(arguments)};ga.l=+new Date;
      ga('create', 'UA-62034618-1', 'auto');
      ga('send', 'pageview');
    </script>
    <script async src='//www.google-analytics.com/analytics.js'></script>
    <script async src="http://cdnjs.cloudflare.com/ajax/libs/gsap/1.18.0/TweenMax.min.js"></script>
    <script async src="https://cdnjs.cloudflare.com/ajax/libs/gsap/1.18.0/TimelineLite.min.js"></script>


  </head>
  <body>
    <%= yield %>

    <%= javascript_include_tag 'normalApp', media: 'all', defer: 'defer'%>
    <link rel="stylesheet" href="<%= asset_path "mySpinner.css" %>">

    <link href="http://fonts.googleapis.com/css?family=Ubuntu|Roboto|Roboto:100|Roboto+Condensed|Open+Sans" rel="stylesheet" />

  </body>
</html>
